*{
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    padding: 30px 20px;
}
h1{
    color: #575757;
    font-size: 40px;
}
.orange_color{
    color: orange;
}
.flexible{
    display: flex;
    height: 550px;
    margin-bottom: 20px;
    margin-left: 2px;
}
.half_width{
    width: 50%;
}
p{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: justify;
}
a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 40px;
    color: white;
    font-weight: 700;
}
.backImg{
    background-image: url(shapes/Group_8450-removebg-preview.png);
    background-repeat: no-repeat;
}
.backAboutMe{
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
    padding: 30px 50px;
}
.imageH{
    margin-bottom: 200px;
    width: 80%;
    height: 103.5%;
}
.centerAlign h1{
    text-align: center;
}
.centerAlign p{
    text-align: center;
}
/* ========= */
.sideRadius img{
    width: 100%;
    height: 50%;
}
p{
    text-align: justify;
}
.sideRadius{
    border-radius:30px;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    margin: 20px;
}
/* =========
 */
.flexible2{
    display: flex;
    margin: 50px 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px gray;
    padding-left: 13%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.flexible2 h1, h5{
    color: black;
}
.third_Part{
    width: 33.33%;
}
.box_container2{
    background-color: black;
    width: 100%;
    padding: 30px 0;
}
.color_Content{
    color: #5B5B5B;
    text-align: center;
}
